################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/ProductManagerAPI/.vs
/API/ProductManagerAPI/ProductManagerAPI/obj/Release/net8.0
/API/ProductManagerAPI/ProductManagerAPI/obj/Debug/net8.0/ProductManagerAPI.AssemblyInfo.cs
/API/ProductManagerAPI/ProductManagerAPI/obj/Debug/net8.0/ProductManagerAPI.AssemblyInfoInputs.cache
bin/
obj/